html, body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow: hidden;
}

body {
    background-color: black;
    overflow-y: auto;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The Header Itself */
header {
    background-color: #37ff00;
    color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
}

/* CSS for the header text */
h1 {
    font-size: 36px;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Space Mono', monospace;
    border-right: .15em solid rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    animation: typing 5s steps(0, 28), hide-caret .5s step-end 1;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes hide-caret {
    from, to { border-color: transparent; }
}

/* The Header options (Home, Credits, Modules) */
header a {
    color: #000000;
    text-decoration: none;
    font-family: 'Space Mono', monospace;
    margin: 0 60px;
}

.card-container {
    display: flex;
    padding: 15%; /* Vertical Height of the cards */
    align-items: center;
    justify-content: center;
}
.card {
    min-width: 25vw;
    margin: 10px;
    color: black;
    font-family: 'Space Mono', monospace;
    background-color: #37ff00;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.rain-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
.rain-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.raindrop {
    position: absolute;
    background-color: #37ff00;
    width: 2px;
    height: 15px;
    animation: fall linear infinite;
}
  
@keyframes fall {
to {
    transform: translateY(100vh);
}
}

.text-pic-container {
    display: flex;
    align-items: center;
}
.text-column {
    max-width: 50%;
    padding: 20px;
    box-sizing: border-box;
}
.img-column {
    max-width: 50%;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.page-top {
    width: 100%;
    height: flex; /* Adjust the height as needed */
    margin-top: 10px;
    border: 1px solid #37ff00;
}

/*
CSS for the Collapsibles - pain in my ass
*/

input[type='checkbox'] { 
    display: none; 
} 
.wrap-collapsible { 
    margin: 1.2rem 1.2rem;
    margin-top: 100px;

} 
.lbl-toggle { 
    display: block; 
    font-weight: bold; 
    font-family: 'Space Mono', monospace;
    background-color: #37ff00;
    font-size: 1.2rem; 
    text-transform: uppercase; 
    text-align: center; 
    padding: 10px; 
    color: #000000; 
    cursor: pointer; 
    border-radius: 10px; 
    margin-top: 10px;
    transition: all 0.25s ease-out;
} 
.lbl-toggle:hover { 
    color: #626262; 
} 
.lbl-toggle::before { 
    content: ' '; 
    display: inline-block; 
    border-top: 5px solid transparent; 
    border-bottom: 5px solid transparent; 
    border-left: 5px solid currentColor; 
    vertical-align: middle; 
    margin-right: .7rem; 
    transform: translateY(-2px); 
    transition: transform .2s ease-out; 
} 
.toggle:checked + .lbl-toggle::before { 
    transform: rotate(90deg) translateX(-3px); 
} 
.collapsible-content { 
    max-height: 0px; 
    overflow: hidden; 
    overflow-y: auto;
    transition: max-height .25s ease-in-out; 
} 
.toggle:checked + .lbl-toggle + .collapsible-content { 
    max-height: 350px; /* may need to readjust */
} 
.toggle:checked + .lbl-toggle { 
    border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0; 
} 
.collapsible-content .content-inner { 
    background: rgba(115, 255, 0, 0.2); 
    border-bottom: 1px solid  #37ff00;
    border-bottom-left-radius: 7px; 
    border-bottom-right-radius: 7px; 
    padding: 1rem 1rem; 
} 
.collapsible-content p { 
    margin-bottom: 50px; 
}

footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

.references {
    margin: 0 auto;
}

.references h2 {
    color: #333;
}

.references ul {
    list-style: none;
    padding: 0;
}

.references li {
    margin-bottom: 10px;
}

/* DRAG-AND-DROP GAME CSS */

.dnd-card-container {
    display: flex;
}

.dnd-column {
    display: flex;
    flex-direction: column;
    margin: 50px;
    overflow-y: auto;
    position: relative; /* Set position to relative for proper sticky behavior */
    max-height: 400px; /* Set a maximum height for the column */
}

.dnd-card-category {
    border: 2px solid #ffffff;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
}

.dnd-dropzone {
    border: 2px dashed #ffffff;
    border-radius: 8px;
    min-height: 100px; /* Set a minimum height */
    margin-top: 10px;
}

.dnd-wordbank-container {
    display: flex;
    flex-direction: column;
    overflow: auto; /* Allow scrolling if content overflows */
}

.dnd-wordbank {
    border: 2px solid #ffffff;
    border-radius: 20%; 
    padding: 10px;
    text-align: center;
    margin: 5px;
    cursor: grab;
}

/* The TRUE / FALSE Section */

.tf-container {
    text-align: left;
    max-width: auto;
    margin: auto;  
}
.tf-question {
    font-size: 18px;
    margin-bottom: 5px;
}

.answer-container {
    display: flex;
    justify-content: flex-end;
}

.btn {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    color:#37ff00;
    border: 1px solid #37ff00;
    border-radius: 20px;
    background-color: #ffffff00;
    transition: background-color 0.3s;
}

.btn.correct {
    background-color: #37ff005a; /* Green for correct answer */
}

.btn.incorrect {
    background-color: #ff00005a; /* Red for incorrect answer */
}

/* FILL IN THE BLANK Section */

.fitb-question-container {
    text-align: left;
}

.fitb-blank {
    border: 1px dashed #37ff00;
    padding: 5px;
    border-radius: 20px;
    background: rgba(115, 255, 0, 0.2);
    color:#ffffff;
    text-align: center;
}

.fitb-btn {
    font-size: 16px;
    padding: 5px 20px;
    margin: 5px 1px 1px 50px;
    cursor: pointer;
    color:#37ff00;
    border: 1px solid #37ff00;
    border-radius: 20px;
    background-color: #ffffff00;
    transition: background-color 0.3s;
}

/* PHISHING OPTIONS Section */

.phishing-container {
    text-align: left;
    max-width: auto;
    margin: auto; 
}
.phishing-btn {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    color:#37ff00;
    border: 1px solid #37ff00;
    border-radius: 20px;
    background-color: #ffffff00;
    transition: background-color 0.3s;
}

.phishing-btn.correct {
    background-color: #37ff005a; /* Green for correct answer */
}

.phishing-btn.incorrect {
    background-color: #ff00005a; /* Red for incorrect answer */
}

.code-block-container {
    max-width: auto;
    margin: auto;
    justify-content: center;
    display: flex; 
}
.code-block {
    width: 600px;
    padding: 5px;
    border: 1px dashed #37ff00;
    border-radius: 20px;
    margin: 10px;
}

/** ROUTING TABLE EXAMPLE **/

.routing-table-container {
    margin-bottom: 20px;
}

.routing-table {
    width: 35%;
    border-collapse: collapse;
}

.routing-table, .routing-table th, .routing-table td {
    border: 1px dashed #37ff00;
  }

  .routing-table th, .routing-table td {
    padding: 8px;
    text-align: left;
  }

.routing-table-input {
    margin-bottom: 20px;
}
.routing-input {
    padding: 8px;
    border: 1px solid darkgreen;
    border-radius: 20px;
    background-color: darkgreen;
    color: white;
}

.routing-btn {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    color:#37ff00;
    border: 1px solid #37ff00;
    border-radius: 20px;
    background-color: #ffffff00;
    transition: background-color 0.3s;
}
.routing-table-result {
    font-weight: bold;
}

